/* fonts */ 
 @font-face {
    font-family: 'bignoodletitlingregular';
    src: url('../fonts/big_noodle_titling-webfont.eot');
    src: url('../fonts/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot');
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mgopen_modataregular';
    src: url('../fonts/mgopenmodataregular-webfont.eot');
    src: url('../fonts/mgopenmodataregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mgopenmodataregular-webfont.woff2') format('woff2'),
         url('../fonts/mgopenmodataregular-webfont.woff') format('woff'),
         url('../fonts/mgopenmodataregular-webfont.ttf') format('truetype'),
         url('../fonts/mgopenmodataregular-webfont.svg#mgopen_modataregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* fonts end */

*{
  box-sizing: border-box
}

a:hover{
  cursor: pointer;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #696969;
  font-weight: 100;
}

/* standard class */
.standard-title{
   font-family: 'bignoodletitlingregular';
   font-size: 48px;
   letter-spacing: .1em;
   color: #3d3d3d;
}

.title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  letter-spacing: .2em;
  color: #f6f6f6;
}

.text-center{
  text-align: center;
}

.underline{
  width: 153px;
  height: 3px;
  background-color: #f4511e;
  display: inline-block;
}

/* standard class end */

/* header */

header{
  padding: 50px 0;
  position: fixed;
  z-index: 99;
  background-color: #f8f6f6;
  left: 0;
  right: 0;
  transition: all .5s;
}

header.scrolled{
  padding: 10px 0;
  border-bottom: 2px solid #f4511e;
}

header .container{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo h1{
 font-family: 'bignoodletitlingregular';
 font-size: 40px;
 letter-spacing: .1em; 
 margin-left: 25px; 
}

.logo{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

nav.navbar{
  position: static;
}

.navbar-light .navbar-toggler, .navbar-light .navbar-toggler:focus{
  border: none;
  outline: none;
}

.navbar-collapse{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f8f6f6;
  font-family: 'bignoodletitlingregular';
  font-size: 30px;
  letter-spacing: .1em; 

}

.navbar-collapse ul{
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.navbar-collapse ul li + li{
  margin-left: 35px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #f4511e;
}
/* header end

/* main */

/* section inner */

.inner{
  height: 100vh;
  padding-top: 145px;
}

#carousel-block{
  background-color: #353535;
  height: 100%;
}

#carousel-block .carousel-inner{
  height: 100%;
}

#carousel-block .carousel-item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#carousel-block .carousel-inner .inner-title{
  font-family: 'bignoodletitlingregular';
  font-size: 72px;
  letter-spacing: .2em;
  color: #d6d5d5;
  margin-bottom: 25px;
}

#carousel-block .carousel-inner .inner-slogan{
  font-family: 'bignoodletitlingregular';
  font-size: 36px;
  letter-spacing: .1em;
  color: #d6d5d5;
}

#carousel-block .carousel-inner i{
  font-size: 36px;
  letter-spacing: .1em;
  color: #ffffff;
}

#carousel-block .carousel-inner .span-inner-i{
  font-size: 12px;
  color: #ffffff;
}

#carousel-block .scroll{
  text-decoration: none;
  position: absolute;
  bottom: 45px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

#carousel-block .scroll span{
  margin-top: 20px;
}

#carousel-block a[role="button"]{
  font-size: 120px;
  color: #6d6c6c;
}

#carousel-block a[role="button"]:hover{

}
/* section inner end */

/* section about us */

.about-us{
  padding-top: 95px;
  padding-bottom: 118px;
}

.about-us .underline{
  margin-top: 5px;
  margin-bottom: 25px;
}

.about-us .text{
  margin-bottom: 60px;

}

.about-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-align-items: stretch;
  align-items: stretch;
  margin: 0 -15px;
}

.card-about-outer{
  padding: 0 15px;
  width: 33.3333%;
}

.card-about{
  height: 100%;
  background-color: #ebebeb;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  padding: 40px 40px 25px;
  /* height: 100%; */
}

.card-about i{
  font-size: 60px;
  margin-bottom: 25px;
  color: #f4511e; 
}

.card-about span{
  font-size: 18px;
  letter-spacing: 0.25em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #707070;
}

.card-about p{
  text-align: center;
  margin-top: 20px;
}

/* section about us end */

/* section WATCH BEHIND THE SCENE */

section.watch-behind-the-scene{
  width: 100%;
  background-color: #171f23;
  display: flex;
}

.watch-behind-article{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.watch-behind-article span{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #e7e7e7;
  margin-bottom: 30px;
}

.watch-behind-article p{
  width: 490px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.watch-behind-article .btn{
  background-color: #e84c3d;
  border-radius: 0;
  /* padding: 15px 27px; */
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid;
  border-color: #b11000;
  outline: none;   
}

.watch-behind-article a:hover{
  background-color: #171f23;
  color: #e84c3d;
  border-color: #e84c3d;
}

.watch-behind-video{
  width: 50%;
  position: relative;
}

.watch-behind-video video{
  width: 100%;
  display: block;
}

.watch-behind-video video:focus{
  outline: none;
}

.watch-behind-video i{
  color: #fefefe;
  font-size: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  filter: drop-shadow(0px 0px 4px #e84c3d);
}

.watch-behind-video i:hover{
  cursor: pointer;
  color: #e84c3d;
}

.watch-behind-video i.played{
  left: 50px;
  top: 50px;
  font-size: 75px;
}
/* section WATCH BEHIND THE SCENE END */

/* section our works */

section.our-works{
  padding-top: 75px;
}

.our-works-title{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.our-works .our-works-title h3{
  margin-bottom: 15px;
}

.our-works .our-works-title p{
  margin-top: 25px;
  margin-bottom: 85px;
  width: 544px;
  text-align: center;
}



.our-works ul{
    display: flex;
    justify-content: center;
    font-size: 14px;
    letter-spacing: .1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3d3d3d;
}

.our-works .nav-item + .nav-item{
  margin-left: 10px;
}

.our-works .nav-link{
  color: #3d3d3d;
  text-transform: uppercase; 
  border-radius: 0;
  padding: 0 7px 8px 7px;
}

.our-works .nav-link.active{
    color: #3d3d3d;
    background-color: transparent;
    border-bottom: 1px solid #e64e40;
    font-weight: 700;
}
/* 
.our-works .tab-content:after{
  content: '';
  display: block;
  clear: both;
}

.our-works .our-works-item{
  float: left;
  display: inline-block;
  width: 20%;
} */

.our-works .tab-content .tab-pane .row{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.our-works .our-works-item{
  width: 20%;
}

.our-works .our-works-item img{
  width: 100%;
}


/* section our works end */

/* section choose-one-thing */

section.choose-one-thing{
  background-color: #1c1c1c;
}

#carousel-choose-one-thing{
  height: 240px;
  display: flex;
  justify-content: center;
}

#carousel-choose-one-thing .carousel-inner{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

.choose-slide{
  display: flex;
  justify-content: space-between;

}

.choose-one-thing .carousel-control-prev, .choose-one-thing .carousel-control-next{
  height: 100%;
}
.choose-options{
  display: flex;
}

.choose-options:hover{
  text-decoration: none;
}

.choose-slide .choose-options img{
  position: absolute;
}

.choose-slide .choose-options.river img{
  position: absolute;
  transform: translateX(-10px);
}

.choose-slide .choose-options span{
  font-family: 'mgopen_modataregular';
  font-size: 33px;
  color: #eadedd;
  margin-left: 60px;

}

.choose-options span:hover{
  color: #f26c4f;
  text-decoration: none;
  border-bottom: none; 
}

/* section choose-one-thing end*/

/* section who-we */
section.who-we{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 80px 0 105px;
}

.who-we .text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 85px;
  width: 555px;
  text-align: center;
}

.persona-stats .skills-stats{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #3d3d3d;
}

.persona-stats p{
  width: 544px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #858383;
  font-weight: 100;
  margin-bottom: 45px;
  margin-top: 22px;
}


.who-we .skills{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #3d3d3d;
}

#skills-carouselle{
  width: 100%;
}

.skills-card{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.persona-data{
  background-color: #ebebeb;
  padding: 75px 0 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
}

.persona-data .persona-avatar{
  width: 135px;
  height: 135px;
  background-color: #fff;
  /* background-color: #f26c4f; */
  background-image: url('https://pngimg.com/uploads/steve_jobs/steve_jobs_PNG1.png');
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
}

.persona-data .persona-avatar2{
  width: 135px;
  height: 135px;
  background-color: #fff;
  /* background-color: #f26c4f; */
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Elon_Musk_Royal_Society.jpg/266px-Elon_Musk_Royal_Society.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
}

.persona-data .persona-avatar3{
  width: 135px;
  height: 135px;
  background-color: #fff;
  /* background-color: #f26c4f; */
  background-image: url('https://kubnews.ru/upload/iblock/f22/f22cf51e017c75aa80b080363881f358.png');
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
}

.persona-data .persona-name{
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.persona-data .persona-role{
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.persona-social{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;
}

.persona-social a{
  color: #696969;
  transition: all .1s;
}

.persona-social a:hover{
  color: #f26c4f;
}

.persona-social a + a{
  margin-left: 15px;
}


.persona-data .carousel-indicators{
  position: static;
}

.persona-data .carousel-indicators li{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #8e8181;
}

.persona-data .carousel-indicators li.active{
  background-color: #8e8181;
}


.persona-stats{
  padding: 125px 50px 90px 65px;
  background-color: #ebebeb;
  height: 100%;
}

.persona-stats .stats-item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.persona-stats .stats-item + .stats-item{
  margin-top: 20px;
}

.persona-stats .stats-item .stats-item-name{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  width: 122px;
}

.persona-stats .stats-item .stats-item-progress-out{
  flex-grow: 1;
  height: 5px;
  background-color: #fff;
  position: relative;
  margin-right: 12px;
  margin-left: 15px;
}
.persona-stats .stats-item .stats-item-progress-in{
  background-color: #e84c3d;
  height: 100%;
}

/* section who-we end*/ 


/* section-SOME FEATURES */

section.some-features{
  padding: 60px 0;
  background-color: #171f23;  
}

.line{
  width: 86px;
  height: 1px;
  background-color: #404040;
  display: inline-block;
}

.features-block{
  margin-top: 45px;
  width: 25%;
}

.features-block i{
  margin-bottom: 30px;
  font-size: 60px;
  color: #ff7062;
}

.features-block h3{
  margin-bottom: 30px;
}

.some-features .container{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.some-features h3{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #f6f6f6;
}

.some-features span{
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
  color: #f6f6f6;
}


/* section-SOME FEATURES end */

/* section blog posts */

section.blog-posts{
  padding-top: 75px;
  padding-bottom: 110px;
}

.blog-posts .blog-posts-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-posts .underline{
  margin-top: 15px;
  margin-bottom: 25px;
}

.blog-posts .blog-posts-inner p{
  width: 551px;
  text-align: center;
  margin-bottom: 75px;
}

.blog-posts .card-img{
  position: relative;
}

.blog-posts .card-img img{
  width: 100%;
  transition: all .5s;
}

.blog-posts-card:hover img{
  filter: blur(2px);
}

.blog-posts-card .card-buttons{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.blog-posts-card:hover .card-buttons{
  display: flex;
}

.blog-posts .card-img .card-buttons a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #e87e5d;
  background-color: #fefefe;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transition: all .3s;
}

.blog-posts .card-img .card-buttons a:hover{
  background-color: #e87e5d;
  color: #fefefe;
}

.blog-posts .card-img .card-buttons a + a{
  margin-left: 20px;
}

.blog-posts .card-article{
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px;
  height: 210px;
}

.blog-posts .card-article > span{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: .1em;
  color: #505050;
}

.blog-posts .card-article p{
  width: 260px;
  text-align: start;
  margin-top: 30px;
}

.blog-posts .blogpost-card-footer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.blog-posts .blogpost-card-footer{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
}

.blog-posts .blogpost-card-footer > *{
  display: flex;
  align-items: center;
}

.blog-posts .blogpost-card-footer i{
  font-size: 14px;
}

.blog-posts .blogpost-card-footer i + span{
  margin-left: 7px;
}

.blog-posts .blogpost-card-footer span + i{
  margin-left: 10px;
}



/* section blog posts end */


 /* section chose plan */

section.chose-plan{
padding-top: 60px;
padding-bottom: 90px;
background-color: #171f23;
} 

.chose-plan .line{
margin-top: 20px;
margin-bottom: 50px;
}

.card-plan{
  width: 23%;
  display: inline-block;
  margin:0 2px;
  border: 1px solid rgba(0, 0, 0, .0);
} 

.card-plan:hover{
border: 1px solid;
border-color: #f3724d;
transition: all 0.5s;
}

.card-plan-top{
  background-color: #0e1316;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 40px 0;
}

.card-plan-top span{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #ffffff;
  margin-bottom: 10px;
}

.card-plan-top .price{
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

.card-plan-bottom{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  background-color: #1f282c;
  padding: 45px 0;
}

.card-plan .card-plan-bottom span{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .1em;
  color: #ffffff;
  margin-bottom: 20px;
  transition: color .5s;
}

.card-plan .card-plan-bottom .number{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #ffffff;
  margin-right: 5px;
}

.card-plan:hover .card-plan-bottom .number{
  color: #f3724d;
}

.card-plan .card-plan-bottom .btn{
  padding: 10px 20px;
  border: 1px solid;
  background-color: #f3724d;
  border-color: #f3724d;
  margin-top: 75px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #ffffff;
}

.card-plan .card-plan-bottom .btn:hover{
   border-color: #111111;
   color: #111111;
}

/* section chose plan end */

 /* section GET IN TOUCH */

 section.get-in-touch{
  padding-top: 60px;
  padding-bottom: 80px;
 }

 .get-in-touch-top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .get-in-touch .get-in-touch-top-section .underline{
  margin-top: 7px;
 }

 .get-in-touch .get-in-touch-top-section p{
  margin-top: 25px;
  width: 560px;
  text-align: center;
  margin-bottom: 85px;
 }

 .get-in-touch-email-name{
  display: flex;
  width: 100%;
 }

 .get-in-touch .get-in-touch-bottom-section .get-in-touch-email-name .name{
    width: 50%;
    font-size: 14px;
    letter-spacing: .1em;
    color: #696969;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
 }

 .get-in-touch .get-in-touch-bottom-section .get-in-touch-email-name .mail{
    width: 50%;
    font-size: 14px;
    letter-spacing: .1em;
    color: #696969;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
 }

.get-in-touch .get-in-touch-bottom-section .get-in-touch-email-name .name + .mail{
  margin-left: 30px;
 }

.get-in-touch .get-in-touch-bottom-section .messege{
  font-size: 14px;
  letter-spacing: .1em;
  color: #696969;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 44px;
}

.form-control {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  border-color: #cacaca;
}

.get-in-touch .get-in-touch-bottom-section .get-in-touch-b-s-span{
  color:#f3724d;
}

.get-in-touch .get-in-touch-bottom-section .get-in-touch-button{
  text-align: center;
  margin-top: 60px;
}

.get-in-touch .get-in-touch-bottom-section .get-in-touch-button .btn{
  background-color: #f3724d;
  border-color: #f3724d;
  font-size: 14px;
  letter-spacing: .1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.get-in-touch input:focus, .get-in-touch textarea:focus{
  /* box-shadow: 0 0 0 0.05rem rgba(243, 114, 77, 1); */
  box-shadow: none;
  border-color: #f3724d;
}

 /* section GET IN TOUCH end */

/* section locate */

section.locate{
background-color: #0c1215;
}

.locate .locate-on-map{
  padding: 30px 0;
  color: #ffffff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /* -ms-align-items: center;
  align-items: center; */
  justify-content: center;

}

.locate .locate-on-map span{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  letter-spacing: .1em;
}

.locate .locate-on-map i{
  font-size: 48px;
  color: #f6744b;
  font-size: 48px;
  letter-spacing: .1em;
  line-height: 24px;
}

.locate .locate-on-map:hover{
  text-decoration: none;
  color: #f6744b;
}

#map-collides{
  height: 0;
  transition: all .3s;
}

#map-collides.shown{
  height: 650px;
}

 /* section locate end */

/* main end

/* footer */

/* section info-footer */

section.info-footer{
  padding: 50px 0;
  background-color: #171f23;
}

.info-boostfolio{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.info-footer h3{
  font-family: 'bignoodletitlingregular';
  font-size: 24px;
  letter-spacing: .1em;
  color: #ffffff; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-footer span{
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}

.info-footer{
  color: #e1d3d3;
}

.social-in-footer a{
  text-decoration: none;
  color: #ffffff;
}

.social-in-footer a + a{
  margin-left: 15px;
}

/* section info footer end */

/* footer end